<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBD.Properties.Settings.stringConexao" connectionString="Data Source=NOT-SML;Initial Catalog=WareHouseBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>